.ui-content {
    padding: 0 !important;
}

.ui-listview {
    margin: 0 !important;
}

.example-wrapper, .example-wrapper div.iscroll-scroller {
    width: 100% !important;
}

a.hrefSku{    min-height: 35px!important;}

h3.titleSku{margin: 0!important; padding-top: 10px;}